#main-title {
    color: orange;
    font-size: 18px;
    outline-width: 1px;
    text-align: center;
    margin:auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

h2 {
    color: #FFFFFF;
    text-align: center;
}

.container-header {
    text-align: center;

}
 
header {
    background-color: #75859c;
    display: flex;
    padding: 0px;
    text-align: center;
    border-color: black;
    border-width: 1px;
}

body {
    width: 300px;
    height: 250px;
    margin: 0px;
    font-family: sans-serif;
    background-color: lightgray;
}

.custom-control-label {
    text-align: center;
}

.controls {
    margin-top: 5%;
}

.dodgy {
    box-shadow: 0 0 40px 20px #fcba03;
}

